__pycache__/
.pytest_cache/
.venv/
*.pyc
*.pyo
*.pyd
*.egg-info/
*.zip
*.log
*.tmp
.coverage
.coverage.*
htmlcov/
build/
dist/
coverage.xml
output/
tmp/
.mypy_cache/
.ruff_cache/
.idea/
.vscode/
Thumbs.db
desktop.ini
